<p class="float-right ">Thời gian giữ ghế: <span class="countDown">{{counter | formatTime}}</span></p>
<div class="container mt-5">
  <div>

</div>
  <div class="row ">
    <div class="col-5 fieldset  ">
      <h5 class="mt-3 text-center">THÔNG TIN KHÁCH HÀNG</h5>

      <FORM [formGroup]="infoCusomer" class="col-12" (ngSubmit)="goInfoTicket()">
        <div class="form-group col-12">
          <label for="fullName">Họ tên khách hàng<span style="color: red;">*</span>: </label>
          <input id="fullName" type="text" formControlName="fullName" class="form-control  col-12" name="fullName">
          <div *ngIf="submitted && infoCusomer.controls.fullName.errors" class="col alert alert-danger" role="alert">
            Vui lòng nhập Họ và tên
           </div>
        </div>
        <div class="form-group col-12">
          <label for="phone">Số điện thoại<span style="color: red;">*</span>: </label>
          <input id="phone" type="text" formControlName="phone" class="form-control  col-12" name="phone">
          <div *ngIf="submitted && infoCusomer.controls.phone.errors" class="col alert alert-danger" role="alert">
            Vui lòng nhập đúng định dạng
           </div>
        </div>
        <!-- <div class="form-group col-12">
          <label for="email">Email<span style="color: red;">*</span>: </label>
          <input id="email" type="text" formControlName="email" class="form-control  col-12" name="email">
          <div *ngIf="submitted && infoCusomer.controls.email.errors" class="col alert alert-danger" role="alert">
            Vui lòng nhập đúng định dạng
           </div>
        </div>
        <div class="form-group col-12">
          <label for="identificationNumber">Số CMND<span style="color: red;">*</span>: </label>
          <input id="identificationNumber" type="text" formControlName="identificationNumber"
            class="form-control col-12" name="identificationNumber">
            <div *ngIf="submitted && infoCusomer.controls.identificationNumber.errors" class="col alert alert-danger" role="alert">
              Vui lòng nhập đúng số CMND
             </div>
        </div> -->
        <div class="form-group pl-3 ml-3">
          <input id="accept" type="checkbox" formControlName="accept" name="accept" class=" form-check-input"><label
            for="accept">Chấp nhận
            điều
            khoảng đặt
            vé</label>
        </div>
      </FORM>


    </div>
    <div class="col-5 offset-2 fieldset">

      <h5 class="mt-3 text-center">ĐIỀU KHOẢN & LƯU Ý
      </h5>
      <p>
        (<b>*</b>) Quý khách vui lòng mang mã vé đến văn phòng để đổi vé lên xe trước giờ xuất bến ít nhất 60 phút trước
        giờ
        khởi
        hành
      </p>
      <p>
        (<b>*</b>) Thông tin hành khách phải chính xác, nếu không sẽ không thể lên xe hoặc hủy/đổi vé.
      </p>
      <p>
        (<b>*</b>) Quý khách không được đổi/trả vé vào các ngày Lễ Tết (ngày thường quý khách được quyền chuyển đổi hoặc
        hủy vé
        một lần duy nhất trước giờ xe chạy 24 giờ), phí hủy vé 10%.
      </p>
    </div>
  </div>

  <div class="d-flex mt-3 justify-content-between ">
    <button class="btn btn-success" (click)="goBack()"> Quay lại</button>
    <button class=" btn btn-success"[disabled]="!infoCusomer.value.accept" type="submit" (click)="goInfoTicket()" >Tiếp tục</button>
  </div>
</div>
