<div class="container mt-5  " *ngIf="dataTicketOneWay && dataCustomer" >
  <div class="fieldset">
    <h3 class="text-center m-3"> ThANH TOÁN THÀNH CÔNG</h3>
    <p class="p-2 titleinfo">Thông tin khách hàng</p>
    <div class="row">
      <div class="col-5">
        <div class="row ml-3">
          <p class="col-5 d-inline">Họ và tên:</p>


          <p class="col-6 d-inline">{{dataCustomer['fullName']}}</p>
        </div>
      </div>
      <div class="col-5 offset-2">
        <div class="row ml-3">
          <p class="col-5 d-inline">Số điện thoại:</p>


          <p class="col-6 d-inline"> {{dataCustomer['phone']}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <div class="row ml-3">
          <p class="col-5 d-inline">Số CMND:</p>


          <p class="col-6 d-inline"> {{dataCustomer['identificationNumber']}}</p>
        </div>
      </div>
      <div class="col-5 offset-2">
        <div class="row ml-3">
          <p class="col-5 d-inline">Mã vé:</p>


          <p class="col-6 d-inline"> <b>{{dataTicketOneWay['codeTicket']}} <span *ngIf="dataTicketRoundWay['codeTicket']">, {{dataTicketRoundWay['codeTicket']}}</span></b> </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <div class="row ml-3">
          <p class="col-5 d-inline">Tuyến xe đi:</p>


          <p class="col-6 d-inline">{{dataTicketOneWay['provinceStart']}} <fa-icon [icon]="faArrowRight"></fa-icon>
            {{dataTicketOneWay['provinceEnd']}}</p>
        </div>
      </div>
      <div class="col-5 offset-2">
        <div class="row ml-3">
          <p class="col-5 d-inline">Số lượng ghế:</p>


          <p class="col-6 d-inline"> {{dataTicketOneWay['amout']}} </p>
        </div>
      </div>
    </div>
    <div *ngIf="dataTicketRoundWay['codeTicket']" class="row">
      <div class="col-5">
        <div class="row ml-3">
          <p class="col-5 d-inline">Tuyến xe về:</p>


          <p class="col-6 d-inline">{{dataTicketRoundWay['provinceStart']}} <fa-icon [icon]="faArrowRight"></fa-icon>
            {{dataTicketRoundWay['provinceEnd']}}</p>
        </div>
      </div>
      <div class="col-5 offset-2">
        <div class="row ml-3">
          <p class="col-5 d-inline">Số lượng ghế:</p>


          <p class="col-6 d-inline"> {{dataTicketRoundWay['amout']}} </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <div class="row ml-3">
          <p class="col-5 d-inline">Thời gian đi:</p>


          <p class="col-6 d-inline"> {{dataTicketOneWay['departureTime']}}({{dataTicketOneWay['dateTrip']}}) </p>
        </div>
      </div>
      <div class="col-5 offset-2">
        <div class="row ml-3">
          <p class="col-5 d-inline">Số ghế:</p>


          <p class="col-6 d-inline">{{dataTicketOneWay['seats']}} </p>
        </div>
      </div>
    </div>
    <div *ngIf="dataTicketRoundWay['codeTicket']" class="row">
      <div class="col-5">
        <div class="row ml-3">
          <p class="col-5 d-inline">Thời gian về:</p>


          <p class="col-6 d-inline"> {{dataTicketRoundWay['departureTime']}}({{dataTicketRoundWay['dateTrip']}}) </p>
        </div>
      </div>
      <div class="col-5 offset-2">
        <div class="row ml-3">
          <p class="col-5 d-inline">Số ghế:</p>


          <p class="col-6 d-inline">{{dataTicketRoundWay['seats']}} </p>
        </div>
      </div>
    </div>
  </div>

</div>
