<div class="col-md-12">
  <div class="card card-container">
    <h3 class="text-center text-success mb-4">Đăng ký</h3>
    <img id="profile-img" src="../../assets/image/avatar_2x.png" class="profile-img-card" />
    <form *ngIf="!isSuccessful" name="form" [formGroup]="formRegister">
      <div class="form-group">
        <label for="username">Tên tài khoản</label>
        <input type="text" class="form-control" name="username" formControlName="userName" />
        <div class="col alert alert-danger" *ngIf="submitted && formRegister.controls.userName.errors">
          <div *ngIf="submitted &&  formRegister.controls.userName.errors.required">Xin hãy nhập Tên tài khoản</div>
          <div *ngIf=" submitted && formRegister.controls.userName.errors.minlength">
            Độ dài của Tên tài khoản không thể nhỏ hơn 4
          </div>
          <div *ngIf="submitted && formRegister.controls.userName.errors.maxlength">
            Độ dài của Tên tài khoản không thể lơn hơn 20          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Mật khẩu</label>
        <input type="password" class="form-control" name="password" formControlName="password" />
        <div class="col alert alert-danger" *ngIf="submitted && formRegister.controls.password.errors">
          <div *ngIf="submitted &&  formRegister.controls.password.errors.required">Xin hãy nhập Mật khẩu</div>
          <div *ngIf=" submitted && formRegister.controls.password.errors.minlength">
            Độ dài của mật khẩu không thể nhỏ hơn 6
          </div>
          <div *ngIf="submitted && formRegister.controls.password.errors.maxlength">
            Độ dài của mật khẩu không thể lớn hơn 20
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-success btn-block" (click)="register()">Đăng ký </button>
      </div>

      <div class="alert alert-warning" *ngIf="submitted && isSignUpFailed">
        Đăng ký thất bại!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Bạn đã đăng ký thành công <br>
      Sau {{countdownSecond}} giây sẽ chuyển sang màn hình đăng nhập
    </div>
  </div>
</div>
