<div class="container mt-5">
  <div class=" fieldset  p-3">
    <h5>Quản lý  vé</h5>
    <form [formGroup]="formSearchTicket">
      <div class="row">
        <div class="col-3 text-center">
          <label for="fullname">Họ và tên</label>
          <input type="text" id="fullname" formControlName="fullName" class="form-control" name="fullname">
        </div>
        <div class="col-3 text-center">
          <label for="phone">Số điện thoại</label>
          <input type="text" id="phone" formControlName="phone" class="form-control" name="phone">
        </div>
        <div class="col-3 text-center">
          <label for="ticketCode">Mã vé</label>
          <input type="text" id="ticketCode" formControlName="ticketCode" class="form-control" name="ticketCode">
        </div>
        <div class="col-3 text-center">
          <label for="dateBuyTicket">Ngày mua vé</label>
          <div class="input-group ">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp3" formControlName="dateBuyTicket" ngbDatepicker
            #d3="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar " (click)="d3.toggle()" type="button">
                <fa-icon [icon]="faCalendar"></fa-icon>
              </button>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-3 text-center">
          <label for="dateGo">Ngày đi</label>
          <div class="input-group ">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp4" formControlName="dateGo"
            ngbDatepicker #d4="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar " (click)="d4.toggle()" type="button">
                <fa-icon [icon]="faCalendar"></fa-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="col-3 text-center">
          <label for="provinceStart">Điểm đi</label>
          <ng-select #NgSelectComponent id="provinceStart" name="provinceStart" formControlName="provinceStart">
            <ng-option *ngFor="let province of provinces" [value]="province.provinceID">
              {{province.name}} </ng-option>
          </ng-select>
        </div>
        <div class="col-3 text-center">
          <label for="provinceEnd">Điểm đến</label>
          <ng-select #NgSelectComponent id="provinceEnd" name="provinceEnd" formControlName="provinceEnd">
            <ng-option *ngFor="let province of provinces" [value]="province.provinceID">
            {{province.name}}</ng-option>
          </ng-select>
        </div>
        <div class="col-3 text-center">
          <label for="status">Trạng thái</label>
          <ng-select id="status" name="status" formControlName="statusID">
            <ng-option *ngFor="let status of statuss" [value]="status.statusID">
            {{status.name}}</ng-option>
          </ng-select>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-3 d-flex justify-content-between">
          <button class="btn btn-success " (click)="searchTicket()">Tìm kiếm</button>
          <button type="reset" class="btn btn-success">Xóa form</button>
        </div>
        <div class="col-2">

        </div>
      </div>
    </form>
  </div>
  <app-table [columHeader]="columHeader" [dataTable]="dataTable" [fieldID]="fieldID" [info]="false" [isAction]="true" [page]="page" [pageSize]="pageSize" [totalElements]="totalElements"
  (buttonAction)="action($event)" (pagi)="pageChange($event)" (changeLimit)="changeLimit($event)" class="mb-3"></app-table>
</div>
