<div class="mt-3 container">
  <div *ngIf="dataTripOneWay?.length>0; else nodata">
    <div class="row">
      <div class="f text-center fieldset   col-5 py-3">
        <p> <b> Ngày đi </b></p>
        <p>Thời gian khởi hành: <b>{{dataTripOneWay[0]?.departureTime}}</b> </p>
        <p>Ngày khởi hành: <b>{{dataTripOneWay[0]?.date}}</b></p>
        <p>Tuyến đường:<b>{{dataTripOneWay[0]?.provinceStartName}} </b>
          <fa-icon [icon]="faChevronRight"></fa-icon> <b> {{dataTripOneWay[0]?.provinceEndName}}</b>
        </p>
        <p>Chọn xe</p>
        <ng-select [(ngModel)]="carValueOneWay" (change)="changeCar(carValueOneWay)">
          <ng-option *ngFor="let trip of dataTripOneWay" [value]="trip.carID">
            {{trip.carName}} | {{trip.licensePlates}}
          </ng-option>
        </ng-select>
      </div>
    </div>
    <app-seat [dataTrip]="dataTripOneWay" [carValueOneWay]="carValueOneWay" (dataSeatCar)="submitDataOneWay($event)"
      [seatChooseDisabled]="seatChooseDisabledOneWay"></app-seat>

  </div>
  <ng-template  #nodata>
    <div class="f text-center fieldset   col-5 py-3">
      <h4>Không có dữ liệu</h4>
    </div>
  </ng-template>
  <div *ngIf="dataTripRoundWay?.length>0" class="container">
    <div class="row">
      <div class="f text-center fieldset   col-5 py-3">
        <p> <b> Ngày về </b></p>
        <p>Thời gian khởi hành: <b>{{dataTripRoundWay[0]?.departureTime}}</b> </p>
        <p>Ngày khởi hành: <b>{{dataTripRoundWay[0]?.date}}</b></p>
        <p>Tuyến đường:<b>{{dataTripRoundWay[0]?.provinceStartName}} </b>
          <fa-icon [icon]="faChevronRight"></fa-icon> <b> {{dataTripRoundWay[0]?.provinceEndName}}</b>
        </p>
        <p>Chọn xe</p>
        <ng-select [(ngModel)]="carValueRoundWay">
          <ng-option *ngFor="let trip of dataTripRoundWay" [value]="trip.carID">
            {{trip.carName}} | {{trip.licensePlates}}
          </ng-option>
        </ng-select>
      </div>
    </div>
    <app-seat [dataTrip]="dataTripRoundWay" [carValueRoundWay]="carValueRoundWay" (dataSeatCar)="submitDataRoundWay($event)"
      [seatChooseDisabled]="seatChooseDisabledRoundWay"></app-seat>

  </div>
  <div class="d-flex justify-content-between mt-3 ">
    <button class="btn btn-success" (click)="goBack()"> Quay lại</button>
    <button class=" btn btn-success "  [disabled]="this.dataTicketOneWay==undefined || this.dataTicketOneWay?.seats.length==0" (click)="goInfo()" >Tiếp tục</button>
  </div>
</div>
